$charcoal : #525251;
$danger: #d9534f;
$white : #fff;
$grey : #ccc;

form.custom-horizontal {
    .btn {
        @media (min-width: 992px) {
            margin-top: 26px;
        }
    }
}

.btn.btn-top-mar {
        @media (min-width: 992px) {
            margin-top: 26px;
        }
    }

.inline {
    display: inline-block;
}

.danger-link {
    color: $danger;
}

table th, table td {
    padding: 8px;
}

img.img-thumbnail {
    border: 2px solid $grey;
    margin-right: 18px;
}

.post {
    padding: 8px;
    border-bottom: 1px solid #bbb;
}

.badge {
    background-color: $charcoal;
    color: $white;
}

.report-text{
    a {
        color: $grey !important;
        text-decoration: underline;
    }
    color: lighten($danger, 15%);
}
.report-topic {
    padding-right: 6px;
}
